

<% if @posts.present? %>

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-header">
      <span><%= link_to "#{post.title}", post_path(post) %></span>
      <p><%= post.created_at.strftime("%d %b %y") %></p>
    </div>

    <%= link_to image_tag(post.photo_url, class: "post-photo"), post_path(post) %>

    <div class="read-more">
      <%= link_to "View Look", post_path(post) %>
    </div>
  </div>
<% end %>

<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
