<div class="post">
  <div class="post-header">
  <span><%= @post.title %> <%= link_to image_tag("pencil.png", class: "icon-edit"), edit_post_path %></span>
  <p><%= @post.created_at.strftime("%d %b %y") %></p>
  </div>

  <%= image_tag @post.photo_url, class: "post-photo" %>

  <p><%= @post.description %></p>

  <h3>Comments <%= link_to image_tag("plus.png", class: "icon-photo"), new_post_comment_path(@post) %></h3>

  <% @comments.each do |comment| %>
    <div class = "comment">
    <h5><%= link_to "\"#{comment.subject}\"", post_comment_path(@post, comment) %></h5>
    <p>Added: <%= comment.created_at.strftime("%b %d %y") %> by: <%= comment.user_email %></p>
    <p><%= comment.comment %></p>
    </div>
  <% end %>

  <h3>Leave a comment:</h3>
  <%= render partial: "comments/form" %>
</div>
