<div class="custom-layout">
<%= form_for (@post) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :brand_name %>
  <%= f.text_field :brand_name %>

  <%= f.label :retailer, "Link to Retailer" %>
  <%= f.text_field :retailer %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.label :description, "Short Description" %>
  <%= f.text_field :description %>

  <%= f.label :photo_url, "Photo URL" %>
  <%= f.text_field :photo_url %>

  <%= f.submit "Submit" %>
<% end %>
</div>
